

.item-main-photo {
  max-height: 150px;
}
.item-options {
  color: #635959;
  line-height: 15px;
  font-size: 13px !important;
  background-color: ##f5f5f5;
  padding: 5px 5px;
}
.parameters > li > a{
  font-family: 'Montserrat', sans-serif;
  font-size: 13px !important;
}
.main-menu-font {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.mx-buttom {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
    letter-spacing: 0;
}

.list-prices {
    background-color: #464646f0;
    padding: 10px 10px;
}
.price-item-up-to {
    background-color: #09162a;
    color: #ffffff;
    padding: 5px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.project-item-title {
  font-size: 32px !important;
}

.icon-tel {
  font-size: 25px;
}
.mx-item-name {
  font-size: 18px;
  line-height: 12px;
  color: #FF5E15;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.mx-project-item-category {
  font-size: 14px;
  line-height: 12px;
  color: #ffffff;
  padding: 5px;
}
.mx-period {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.mx-project-item:before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
.mx-project-item img {
  -webkit-transition: .5s all ease;
  -o-transition: .5s all ease;
  transition: .5s all ease;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
.mx-project-item .project-item-contents {
  z-index: 9;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden; }
.mx-project-item .project-item-contents .project-item-category {
  color: #ff5e15;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }
.mx-project-item .project-item-contents .project-item-title {
  color: #fff;
  margin-bottom: 0; }
.mx-project-item:hover:before {
  opacity: 1;
  visibility: visible; }
.mx-project-item:hover .project-item-contents {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
  visibility: visible; }
.mx-project-item:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}